<mat-toolbar class="shell-toolbar">
  <button matIconButton type="button" aria-label="Basculer la navigation" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Events Manager</span>
</mat-toolbar>

<mat-sidenav-container class="shell-container">
  <mat-sidenav mode="side" [opened]="sidenavOpened()">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [activated]="rla.isActive"
      >
        Accueil
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="shell-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
